// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// fonts
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

// settings
$color-font: #99B2B8;
$color-bg1: #073642;
$color-bg2: #002B36;
$color-bg3: #001F27;
$breakpoint: 848px;

body {
  background: $color-bg3;
  font-family: 'Source Code Pro', monospace;
  color: $color-font;
}

.page {
  &-wrapper {
    margin: 5% auto 0 auto;
    max-width: 900px;
    width: 100%;
  }

    &-header {
      margin-bottom: 60px;
      text-align: center;
    }

      &-logo {
        border-radius: 80px;
        margin-bottom: 30px;
        width: 160px;
      }

      &-title {
        font-weight: lighter;
        margin: 0;
        text-transform: uppercase;

        &-spacer {
          border: 0;
          border-bottom: 1px solid $color-bg1;
          margin: 6px auto;
          width: 100px;
        }
      }

    &-icon-nav {
      margin-bottom: 54px;
      
      ul {
        padding: 0;
        text-align: center;
      }

      li {
        display: inline-block;
        list-style: none;
        margin: 0 20px;
      }

      .fa {
        transition: all 300ms ease;
      }

      a {
        color: $color-bg1;

        &:hover {
          color: $color-font;

          .fa {
            transform: scale(1.5);
          }
        }
      }
    }

    &-block {
      text-transform: lowercase;
      vertical-align: top;
      width: 100%;

      @media (min-width: $breakpoint) {
        display: inline-block;
        width: 30%;
      }

      &:not(:last-of-type) {
        margin-right: 3.8%;
      }

      ul {
        margin: 0;
        padding: 0 16px;;
      }

      li {
        color: $color-bg1;
        margin-bottom: 10px;

        @media (min-width: $breakpoint) {
          margin-bottom: 4px;
        }

        &:hover {
          color: $color-font;
        }
      }

      a {
        color: $color-font;
        display: block;
        text-decoration: none;
      }

    }

    &-nav-title {
      background-color: $color-bg2;
      font-weight: lighter;
      padding: 6px 20px;
    }
}
